{% extends 'base.html' %}
{% load bootstrap4 i18n %}

{% block content %}
<h1>{% translate "Task Details" %}</h1>
<div class="container">
    <main>
        <table class="table">
            <thead>
            <tr>
                <th>{% translate "Variable" %}</th>
                <th>{% translate "Value" %}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{% translate "Name" %}</td>
                <td>{{ task.name }}</td>
            </tr>
            <tr>
                <td>{% translate "Description" %}</td>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <td>{% translate "Author" %}</td>
                <td>{{ task.author }}</td>
            </tr>
            <tr>
                <td>{% translate "Executor" %}</td>
                <td>{{ task.executor }}</td>
            </tr>
            <tr>
                <td>{% translate "Status" %}</td>
                <td>{{ task.status }}</td>
            </tr>
            <tr>
                <td>{% translate "Labels" %}</td>
                <td>
                    <ul>
                        {% for label in task.labels.all %}
                            <li>{{ label.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
{% endblock content %}