{% extends 'base.html' %}
{% load bootstrap4 i18n %}

{% block content %}
<h1>{% translate "Task Manager Main Page" %}</h1>
<h2>User: {{ user }}</h2>

<a class="btn btn-primary btn-lg" href="{% url 'users_index' %}">{% translate "Users" %}</a>
<a class="btn btn-primary btn-lg" href="{% url 'statuses_index' %}">{% translate "Statuses" %}</a>
<a class="btn btn-primary btn-lg" href="{% url 'login' %}">{% translate "Log In" %}</a>
<a class="btn btn-primary btn-lg" href="{% url 'users_create' %}">{% translate "Sign Up" %}</a>
<a class="btn btn-primary btn-lg" href="{% url 'logout' %}">{% translate "Log Out" %}</a>

{% endblock content %}