{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<h1>{% translate "Task Manager - Log In" %}</h1>

{% if form.subject.errors %}
<div>
    <ul>
        {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form action="{% url 'login' %}" method="post">
    {% bootstrap_form form %}
    {% csrf_token %}
    <button class="btn btn-primary btn-lg" type="submit">{% translate "Login" %}</button>
</form>
{% endblock content %}