{% extends 'base.html' %}
{% load bootstrap4 i18n %}

{% block content %}
<h1>{% translate "Task Manager - Tasks" %}</h1>
<a class="btn btn-primary btn-lg" href="{% url 'main_page' %}">{% translate "To main page" %}</a>
<a class="btn btn-primary btn-lg" href="{% url 'tasks_create' %}">{% translate "Create task" %}</a>

<div class="container">
    <main>
        <form method="get">
            {{ filter.form.as_p }}
            <input type="submit">
        </form>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>{% translate "Name" %}</th>
                <th>{% translate "Status" %}</th>
                <th>{% translate "Author" %}</th>
                <th>{% translate "Executor" %}</th>
                <th>{% translate "Manage" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td><a href="{% url 'tasks_show' task.id %}">{{ task.name }}</a></td>
                <td>{{ task.status }}</td>
                <td>{{ task.author }}</td>
                <td>{{ task.executor }}</td>
                <td><a href="{% url 'tasks_update' task.id %}">{% translate "Update" %}</a><br>
                    <a href="{% url 'tasks_delete' task.id %}">{% translate "Delete" %}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
</div>
{% endblock content %}


