{% extends 'base.html' %}
{% load bootstrap4 i18n %}

{% block content %}
<h1>{% translate "Update task" %}</h1>

<div class="container">
    <main>
        {% if form.subject.errors %}
        <div>
            <ul>
                {% for error in form.subject.errors %}
                <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <form action="{% url 'tasks_update' task.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input class="btn btn-primary btn-lg" type="submit" value="{% translate 'Update' %}">
        </form>
    </main>
</div>
{% endblock content %}